.styled-table {
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.styled-table thead tr {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: white;
}

#root{
  background-color: #A9503D;
  height: 100vh;
  padding: 5rem;
}


